<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="../public/assets/css/dashboard.css">
  <title>AerialCare - Dashboard</title>
</head>

<body>

  <!-- Main Navbar -->

  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h3 class="ms-3 mt-2">AerialCare - Add New Order</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <!-- Sidebar -->

  <nav id="sidebarMenu" class="sidebar p-3 d-lg-block collapse text-white bg-danger">
    <a href="#"
      class="desktop avatar d-flex align-items-center my-3 py-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="../public/assets/images/profile-user.svg" alt="" width="50" height="50">
      <div class="ms-3">
        <p class="fw-bold">Mr. Firstname Lastname</p>
        <p>fullname@gmail.com</p>
      </div>
    </a>
    <hr class="desktop">
    <a href="./user-new-order.html" class="w-100 btn btn-lg bg-white mb-4" type="submit">Add a New Order</a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="./user-dashboard.html" class="nav-link text-white" aria-current="page">
          Dashboard
        </a>
      </li>
      <li>
        <a href="./user-orders.html" class="nav-link text-white">
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Help Center
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Settings
        </a>
      </li>
      <li>
        <a href="./landing.html" class="nav-link text-white">
          Sign Out
        </a>
      </li>
    </ul>
  </nav>

  <!-- Body -->

  <main>



    <div class="dashboard-card">
      <h2 class="pb-4">Additional details</h2>

      <!-- Notes (to be included if there's more time) -->
      <!-- <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><img src="../public/assets/images/notes.svg"
            height="20px"></span>
        <input type="text" class="form-control" placeholder="Add notes to your order" aria-label="notes"
          aria-describedby="basic-addon1">
      </div> -->

      <!-- Prescription (to be included if there's more time) -->
      <!-- <p> <span> Upload your prescription : </span> </p>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" placeholder="Upload your prescription">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div> -->

      <form action="./user-dashboard.html">
        <div class="input-group mb-5">
          <label class="input-group-text" for="inputGroupSelect01">Select Payment Method</label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected value="card">Credit/Debit Card</option>
            <option value="bank">Internet Banking</option>
            <option value="upi">UPI</option>
          </select>
        </div>

        <div class="d-flex justify-content-between pb-4">
          <h3>Total:</h3>
          <h3>₹999,999.99</h3>
        </div>

        <div class="d-flex justify-content-center w-100">
          <button href="./user-new-order.html" class="btn btn-lg bg-danger text-light mb-4 px-5 ms-auto me-auto"
            type="submit">Submit Order</button>
        </div>
      </form>



    </div>


  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>