<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="assets/css/dashboard.css">
  <title>AerialCare - Dashboard</title>
</head>

<body>

  <!-- Main Navbar -->

  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h3 class="ms-3 mt-2">AerialCare - Add New Order</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <!-- Sidebar -->

  <nav id="sidebarMenu" class="sidebar p-3 d-lg-block collapse text-white bg-danger">
    <a href="#"
      class="desktop avatar d-flex align-items-center my-3 py-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="assets/images/profile-user.svg" alt="" width="50" height="50">
      <div class="ms-3">
        <p class="fw-bold">Mr. Firstname Lastname</p>
        <p>fullname@gmail.com</p>
      </div>
    </a>
    <hr class="desktop">
    <a href="./newOrderPage" class="w-100 btn btn-lg bg-white mb-4" type="submit">Add a New Order</a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="./dashboardPage" class="nav-link text-white" aria-current="page">
          Dashboard
        </a>
      </li>
      <li>
        <a href="./ordersPage" class="nav-link text-white">
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Help Center
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Settings
        </a>
      </li>
      <li>
        <a href="./landingPage" class="nav-link text-white">
          Sign Out
        </a>
      </li>
    </ul>
  </nav>

  <!-- Body -->

  <main>

    <div class="dashboard-card bg-secondary">
      <div class="bg-light p-3">
        <p class="mt-auto mb-auto">&lt; 📍 Where to...</p>
      </div>
      <div class="bg-secondary p-5">
        <div class="p-5"></div>

      </div>

    </div>

    <div class="dashboard-card">
      <h2 class="pt-2 pb-4">Order Details</h2>
      <form action="./user-checkout.html">

        <!-- Add first aid kit + medication category if there's time -->
        <div class="input-group pb-3">
          <label class="input-group-text" for="inputGroupSelect1">Select Product Category</label>
          <select class="form-select" id="inputGroupSelect1">
            <option selected value="card">Blood</option>
            <option value="bank">Organs</option>
          </select>
        </div>

        <!-- Load products programatically here, according to category selected -->
        <div class="input-group pb-3">
          <label class="input-group-text" for="inputGroupSelect1">Select Product</label>
          <select class="form-select" id="inputGroupSelect1">
            <option selected value="card">Products</option>
            <option value="bank">More Products</option>
          </select>
        </div>

        <div class="form-floating pb-4">
          <input type="text" class="form-control" id="floatingNumber" placeholder="Phone Number">
          <label for="floatingNumber">Phone Number</label>
        </div>

        <div class="d-flex justify-content-between pb-4">
          <h3>Total:</h3>
          <h3>₹999,999.99</h3>
        </div>

        <div class="d-flex justify-content-center w-100">
          <button class="btn btn-lg bg-danger text-light mb-4 px-5 ms-auto me-auto" type="submit">Next</button>
        </div>

      </form>

    </div>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>